<div class="center ">
<% provide(:title, "Top") %>
<% if logged_in? %>
  <ol class="microposts">
    <%= render 'shared/feed' %>
  </ol>
<% else %>
<h2>Welcome to Sample_instagram</h2>
<%= link_to "Please Sign up!", new_user_session_path, class: "btn btn-lg btn-primary" %>
<% end %>
</div>
