<% provide(:title, "sign_up") %>
<div class ="sign_up">
<h2>新規登録</h2>
<%= link_to "利用規約", contact_path %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class= "field">
　  <%= f.label :fullname %><br />
　  <%= f.text_field :fullname %>
　</div>

　<div class= "field">
　  <%= f.label :username %><br />
　  <%= f.text_field :username, autocomplete: "name" %>
　</div>

  <div class="field" >
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
</div>