<% provide(:title, "Edit user") %>
<h1>プロフィール編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <h4>公開情報</h4>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :fullname %>
      <%= f.text_field :fullname, class: 'form-control' %>
      
      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>
      
      <%= f.label :profile %>
      <%= f.text_field :profile, class: 'form-control' %>
      
      <h4>非公開情報</h4>
      <%= f.label :mailadress %>
      <%= f.text_field :mailadress, class: 'form-control' %>

      <%= f.label :callnumber%>
      <%= f.text_field :callnumber, class: 'form-control' %>
      
      <%= f.label :sex %>
      <%= f.text_field :sex, class: 'form-control' %>
      
      <%= f.submit "更新", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "パスワード変更", edit_user_registration_path %>
  </div>
</div>