<% provide(:title, 'All users') %>
<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<h1>All users</h1>
 
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= user.username %>
    </li>
  <% end %>
</ul>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<h4>ユーザーネーム： <%= current_user.username %> </h4>