<% provide(:title , "Mypage") %>
<div class = "show">
  <% if not @user.mailadress == nil %>
  <h1>
    <%= gravatar_for @user %>
  </h1>
  <% end %>
  <h4 >
     <%= @user.username %> 
  </h4>
  <div >
    <% if current_user?(@user) %>
      <%= link_to '編集', edit_user_path(current_user) %>
    <% else %>
      <%= render 'follow_form' if logged_in?  %>
    <% end %>
    
  </div>
  <div>
    投稿数 <%= @user.microposts.count %>
    <%= render 'shared/stats' %>

    <h4>自己紹介</h4>
      <p><%= @user.profile %></p>
    <div >
      投稿
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
    </div>
  </div>
</div>