
<%= form_for(@micropost) do |f| %> 
<div class=post>
  <%= f.text_area :content %><br />
</div>
  <%= f.submit "アップロード" %>
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
<% end %>
<p class="red">必ず画像を選択してください</p>
