<li id="micropost-<%= micropost.id %>">
 
  <span class="user">
    <%= link_to micropost.user.username, micropost.user %>
  </span>
  
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  
    <%= link_to "詳細",micropost_path(micropost.id) %>
  <% if current_user?(micropost.user) %>
      <%= link_to "削除", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
  <% end %>
</li>
