<% provide(:title, "post detail") %>

<span><%= @micropost.content %> 
 <%= image_tag @micropost.picture.url if @micropost.picture? %>
</span>
<% if Like.find_by(user_id: @user.id, post_id: @micropost.id) %>
  <%= link_to("いいね！済み", "/likes/#{@micropost.id}/destroy", {method: "post"})%>
<% else %>
  <%= link_to("いいね！", "/likes/#{@micropost.id}/create", {method: "post"}) %>
<% end %>

