<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Sample_instagram", root_path, id: "logo" %>
    <ul class="nav navbar-nav navbar-right">
      <li class="search"><%= render 'searches/index' %></li>
      <li><%= link_to "Top", root_path %> </li>
      <% if logged_in? %>
      <li><%= link_to "Notification", '#' %></li>
      <li><%= link_to "Mypage", user_path(current_user) %></li>
      <li><%= link_to "Log_out", destroy_user_session_path, method: :delete%></li>
      <% end %>
    </ul>
    </div>
</header>